@layer kelp.theme {
	:where(:root) {
		--color-blue-base: #1C9AF3;
		--color-blue-hue: 246.74;
		--color-blue-chroma: 0.9484760980127133;
	}
}

@layer kelp.extend {
	html {
		display: block;
	}

	html,
	body {
		height: 100%;
	}

	dialog .action-header {
		flex-wrap: wrap;
		margin-bottom: var(--size-2xl);
	}

	figcaption {
		font-style: unset;
	}

	img,
	svg {
		&[class*=size-]:not(.inline) {
			width: var(--font-size);
		}
	}

	main {
		align-content: end;
		flex: 1;
		overflow-y: auto;
	}

	input,
	select,
	textarea {
		&:focus,
		&:hover {
			background-color: var(--color-blue-base);
			color: var(--color-background);

			&::placeholder {
				color: var(--color-blue-90);
			}
		}

		&:not(:focus) {
			border-color: transparent;
		}
	}

	textarea {
		--height: 3ch;

		resize: none;
	}

	table {
		--margin: calc(-1 * var(--size-4xs));

		margin-left: var(--margin);
		margin-right: var(--margin);
  }

	.container {
		padding: var(--size-m);
		width: 100%;
	}

	.toaster[popover] {
		background-color: unset;
		border: unset;
		left: var(--size-2xs);
		margin: var(--size-5xs);
		margin-left: auto;
		max-width: 18em;
		padding: unset;
		right: var(--size-2xs);
		top: var(--size-m);
	}

	.toast {
		box-shadow:
			0
			var(--size-6xs)
			var(--size-5xs)
			var(--color-gray-90);
		position: relative;

		&:hover {
			z-index: 1;
		}

		& + & {
			translate: 0 calc(-100% + var(--size-m));
		}
	}
}

@layer kelp.helpers {
	.full { min-height: 100% }

	.-margin-6xs { margin: calc(-1 * var(--size-6xs)) }
	.-margin-5xs { margin: calc(-1 * var(--size-5xs)) }
	.-margin-4xs { margin: calc(-1 * var(--size-4xs)) }
	.-margin-3xs { margin: calc(-1 * var(--size-3xs)) }
	.-margin-2xs { margin: calc(-1 * var(--size-2xs)) }
	.-margin-1xs { margin: calc(-1 * var(--size-1xs)) }

	.-margin-s { margin: calc(-1 * var(--size-s)) }
	.-margin-m { margin: calc(-1 * var(--size-m)) }
	.-margin-l { margin: calc(-1 * var(--size-l)) }

	.-margin-6xl { margin: calc(-1 * var(--size-6xl)) }
	.-margin-5xl { margin: calc(-1 * var(--size-5xl)) }
	.-margin-4xl { margin: calc(-1 * var(--size-4xl)) }
	.-margin-3xl { margin: calc(-1 * var(--size-3xl)) }
	.-margin-2xl { margin: calc(-1 * var(--size-2xl)) }
	.-margin-1xl { margin: calc(-1 * var(--size-1xl)) }

	.v-align-bottom { vertical-align: bottom }
	.v-align-middle { vertical-align: middle }
	.v-align-top { vertical-align: top }
}
